<header id="header" class="header-transparent">
  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a href="#hero">Bioparcours LLN</a></h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="/sciences">Parcours des Sciences</a></li>
        <li><a href="/cyclotron">Cyclotron</a></li>
        <li><a href="/lac">Lac</a></li>
        <li><a href="/botanique">Jardin botanique</a></li>
        <li><a href="/moulinsart">Parc de Moulinsart</a></li>
      </ul>
    </nav>
  </div>
</header>
